---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type BlogEntry = CollectionEntry<"blog">;
const projects = (await getCollection("projects")).filter(p => !p.data.draft);
const norm = (u:string) => /^https?:\/\//i.test(u) ? u : `https://${u}`;

const blog = await getCollection("blog", ({ data }) => !data.draft && !data.onlylink);

const sortByDateDesc = (a: BlogEntry, b: BlogEntry) =>
  (b.data.pubDate?.getTime?.() ?? 0) - (a.data.pubDate?.getTime?.() ?? 0);

const researchPosts = blog
  .filter(p => (p.data.tagline ?? "research") === "research")
  .sort(sortByDateDesc);

const notePosts = blog
  .filter(p => p.data.tagline === "notes")
  .sort(sortByDateDesc);
---
<BaseLayout>
	<h1>Joey Turnbull</h1>

  	<p>
		Hello! I'm a physics graduate student at UC Berkeley who studies how neural
		networks train under <a href="https://deweeselab.com/">Michael DeWeese</a>'s supervision. I'm a member of <a href="https://james-simon.github.io/">Jamie Simon's</a> "Feature Lab," which is graciously funded by <a href="imbue.com">Imbue</a>, where we're
		working towards a theory of how MLPs learn. I did my undergrad at the University of Washington in physics, where I worked in a number of experimental subfields
		(biophysics, gravitation, high-energy, and condensed matter).

		<br><br>
		<!-- (I occasionally update my PBs <a href=/personal>here</a>) -->
		In my free time, I am an amateur weightlifter/runner, an <a href="https://en.wikipedia.org/wiki/Atomic_chess">atomic chess</a> fiend,
		a poet, big-time tea enthusiast, and enjoy frolicking in the rain! I also love frogs.

		<br><br>
		I can be reached at joeyturnbull[at]berkeley[dot]edu! Feel free to say hi!
  	</p>

	<hr class="section-hr" />

	<h2><a href="/projects">Research Projects</a></h2>
	<!-- <hr class="section-hr" /> -->
	<ul class="projlist">
    {projects.map(({ slug, data }) => (
      <li>
        <a class="projtitle" href={`/projects/${slug}/`}>{data.title}</a>
		{data.links && data.links.length > 0 && (
          <div class="externals">
            {data.links.map((L, i) => (
              <>
                <a href={norm(L.url)} target="_blank" rel="noopener noreferrer">{L.label}</a>
                {i < data.links!.length - 1 && <span class="dot">·</span>}
              </>
            ))}
			<p class="projdesc">{data.frontpagedescription}</p>
          </div>
        )}
		
      </li>
    ))}
  	</ul>

	<hr class="section-hr" />

	<h2><a href="/blog">Blog</a></h2>
	<!-- <p>(Currently being worked on, please check back later.)</p> -->
	<!-- <hr class="section-hr" /> -->
	<h4>Blog - Research</h4>
	<ul>
		{researchPosts.map(({ slug, data }) => (
		<li><a href={`/blog/${slug}/`}>{data.title}</a><p class="projdesc">{data.frontpagedescription}</p></li>
		))}
	</ul>
	<h4>Blog - Notes</h4>
	<ul>
		{notePosts.map(({ slug, data }) => (
		<li><a href={`/blog/${slug}/`}>{data.title}</a></li>
		))}
	</ul>
	<!-- <ul>
		{blog.map(({ slug, data }) => (
		<li><a href={`/blog/${slug}/`}>{data.title}</a></li>
		))}
	</ul> -->

	<!-- <ul>
		{projects.map(({ slug, data }) => (
		<li><a href={`/projects/${slug}/`}>{data.title}</a></li>
		))}
	</ul> -->
</BaseLayout>
